// THE LOADING EFFECT
.test{
	background-color: #e2e5e7;
	background-image:			
			linear-gradient(
				90deg, 
				rgba(#fff, 0), 
				rgba(#fff, 0.5),
				rgba(#fff, 0)
			);
	background-size: 40px 100%; 
	background-repeat: no-repeat; 
	background-position: left -40px top 0; 
	animation: shine 1s ease infinite; 
}
.skeleton-custom{
    background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f2f2f2 38%,
    #f2f2f2 40%,
    #e5e5e5 48%
  );
  background-size: 300%;
  background-position: 100% 0;
  animation: anim 1.5s infinite;
}
@keyframes anim {
  to {
    background-position: -100% 0;
  }
}

